@import "tailwindcss";
@font-face {
  font-family: 'Yekan Bakh';
  src: url('/fonts/font/YekanBakh-Light.woff2') format('woff2'); 
  font-weight: 300; 
  font-style: normal;
  font-display: swap; 
}

/* 2. تعریف فونت Yekan Bakh (معمولی) */
@font-face {
  font-family: 'Yekan Bakh';
  src: url('/fonts/font/YekanBakh-Regular.woff2') format('woff2'); 
  font-weight: 400; 
  font-style: normal;
  font-display: swap; 
}

/* 3. تعریف فونت Yekan Bakh (نیمه‌بولد - پرکاربرد) */
@font-face {
  font-family: 'Yekan Bakh';
  src: url('/fonts/font/YekanBakh-SemiBold.woff2') format('woff2'); 
  font-weight: 600; 
  font-style: normal;
  font-display: swap; 
}

@import "tailwindcss";

/* 4. اعمال فونت Yekan Bakh به عنوان فونت پیش‌فرض برای کل پروژه */
@layer base {
  body {
    /* استفاده از نامی که در @font-face تعریف کردیم */
    font-family: 'Yekan Bakh', sans-serif; 
    /* ضخامت پیش‌فرض را روی معمولی (400) تنظیم می‌کنیم */
    font-weight: 400;
  }
}